extends base
include _reviewCard
block content
    section.section-description
        .overview-box__group
            img(src=`/img/phones/${phone.image}`)
            div
                .overview-box__group
                    h2.heading-secondary.ma-bt-lg= phone.name
                    - const price = new Intl.NumberFormat('en-US').format(phone.price)
                        h2.card__sub-heading
                            span.card__footer-value= price
                            | 
                            span.card__footer-text VNĐ
                    .detail_code
                       p= `(Còn lại ${phone.quantity})`
            .ma-bt-lg
            p= phone.description
        .overview-box_group
            .ma-bt-lg
            .ma-bt-lg
            .ma-bt-lg
            .ma-bt-lg
            div
                .ma-bt-lg
                        form.form-cart
                            button.btn.btn--black Thêm vào giỏ hàng
    section.section-reviews
        .reviews
            each review in phone.reviews
                +reviewCard(review)